.add-new-note {
    margin-bottom: 15px;
}

.note {
    box-shadow: 3px 3px 7px 0px #aaa;
    word-wrap: break-word;
}

.note .actions {
    float: right;
}

.note .actions a {
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.note .actions a:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}